@font-face {
    font-family: poppins;
    src: url(fonts/Poppins.ttf);
}

@font-face {
    font-family: pro;
    src: url(fonts/pro.ttf);
}

:root {
    --background: #FFFFFF;
    --background2: #003366;
    --text: #051145;
    --text2: #000;
    --btn: #2a786b;
    --btnhover: #1c5f54;
    --citybtn: rgba(22, 60, 247, 0.914);
    --citybtnHover: rgba(4, 45, 250, 0.914);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pro;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* book service message */


.book-service{
    position: absolute;
    z-index: 2;
}

.book-service a{
background-color: orangered;
font-size: 2vw;
padding: 0.7vw 0;
width: 100%;
color: var(--background);
font-weight: bold;
text-align: center;
position: fixed;
text-decoration: none;

}

.book-service i{
    color: #ffffff;
    font-weight: normal;
}

/* end book service message */


/* start page1 */


#page1 {
    height: 100vh;
    width: 100%;
    background-color: #E2E8EF;
    
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
padding-top: 3vh;    
height: 30vh;
}

.navbar a {
    text-decoration: none;
}

.nav-left img{
    height: 35vh;
    width: 13vw;
    margin-top: 3vh;
}



.nav-center {
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
    text-transform: capitalize;
margin-left: 18vw;
}

.nav-center a {
    color: var(--text2);

}




.nav-right {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2.5vw;
    border-radius: 2vw;
margin-left: 15vw;
}

.nav-right a {
    font-family: poppins;
    color: var(--background);
}

.nav-right:hover {
    background-color: var(--btnhover);
}


.nav-right2 {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--citybtn);
    padding: 1vw 2.5vw;
    border-radius: 2vw;
margin-left: 0vw;
}

.nav-right2 a {
    font-family: poppins;   
    color: var(--background);
}

.nav-right2:hover {
    background-color:var(--citybtnHover);
}



.hamburger {
    margin-left: 93vw;
    margin-top: -7vh;
    display: none;
}

.hamburger i {
    font-size: 2.2vw;
    cursor: pointer;
}


/* navbar for mobile */

.navbar-mobile {
    background-color: var(--background2);
    position: absolute;
    z-index: 2;
    margin-top: -30vh;
    height: 100vh;
    width: 100%;

    display: none;
}

.navbar-mobile i {
    font-size: 3vw;
    color: var(--background);
    margin-left: 75vw;

}

.close-icon {
    margin-top: 5vh;
    margin-left: 6vw;
    cursor: pointer;


}

.navbar-mobile a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 3vw;
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 1vw;

}

.city-boxes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0vh;
    margin-left: 1vw;
    gap: 1vw;
}

.box{
    height: 30vh;
    width: 15vw;
    background-color: var(--background);
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.box img{
    height: 80%;
    width: 90%;
}

.box a{
    text-decoration: none;
color: var(--background);
font-size: 1.1vw;
    font-family: pro;
    border-radius: 0.1vw;
    background-color: var(--background2);
    padding: 0.1vw 0.5vw;
    
}

#box8 a{
    
    font-size: 1vw;

}



/* end page1 */


/* responsive  */

@media (max-width:440px){


/* book service message */

.book-service{
    position: absolute;
    z-index: 2;
}

.book-service a{
    font-size: 4vw;
    padding: 3vw 0;
    }
    
    /* end book service message */
    
    /* page1 media query - 440px */
    
    #page1{
        height: 120vh;
        width: 100%;
        
    }

  .nav-left img{
    width: 50vw;
    margin-left: 10vw;
  }

    .nav-center a{
        display: none;
    }
    
    .nav-right{
        display: none;
    }

    
.nav-right2 {
    font-size: 2.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--citybtn);
    padding: 1.3vh 2.7vw;
margin-right: 28vw;
display: none;
}

.nav-right2 a {
    font-family: poppins;
    color: var(--background);
    text-wrap: nowrap;
}

.nav-right2:hover {
    background-color:var(--citybtnHover);
}

    
    
    .hamburger i{
        font-size: 10vw;
    margin-left: -8vw;
    }
    
    .hamburger{
        margin-top: -17vh;
        display: block;

    }
    
    .nav-left a{
        font-size: 7vw;
        margin-left: -24vw;
    }
    
    .page1-content h1{
        font-size: 8.5vw;
        margin-left: -6vw;
        margin-top: -8vh;
    }
    
    .page1-content h1:nth-child(2){
        font-size: 7vw;
    }
    
    .page1-content p{
        font-size: 4.1vw;
        margin-left: -10vw;
        margin-top: 0;
    }
    
    .page1-btns{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        margin-left: 12vw;
        margin-top: 7vh;
    }
    
    .page1-btns a{
        padding: 4vw 0vw;
        width: 60%;
        font-size: 4vw;
        text-align: center;
    }
    
    .page1-btns a:nth-child(2){
    width: 75%;
    margin-left: -6vw;
    }
    
    
    .navbar-mobile i{
        font-size: 11vw;
        margin-left: 5vw;
    
        
    }

.navbar-mobile a:hover{
    background-color: orange;
    
    
}

    .close-icon{
        margin-top: 27vh;
        margin-left: 80vw;
    }
    
    .navbar-mobile{
        height: 109vh;
        
    }
    
    .navbar-mobile a{
        font-size: 8vw;
    }

    
.city-boxes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8vh;
    gap: 2vw;
    margin-left: 3vw;
    
}

.box{
    height: 20vh;
    width: 30vw;
}

.box a{
    font-size: 2.5vw;
}

#box8 a{
    font-size: 2vw;
}
    
 
    
    /* end media for page1 */
}    
    

@media (min-width:1300px){

.navbar{
    padding:0vw 1vw;
    justify-content: space-between;
}

.nav-center{
    margin-left: 15vw;
}

.nav-center a{
    font-size: 1.8vw;
}

    .nav-left img{
        width: 20vw;
    }

    .city-boxes{
        margin-left: 2.5vw;
    }

    .nav-right{
        margin-left: 8vw;
    }

    .nav-right2{
        margin-right: 1vw;
    }

}