@font-face {
    font-family: poppins;
    src: url(fonts/Poppins.ttf);
}

@font-face {
    font-family: pro;
    src: url(fonts/pro.ttf);
}

:root {
    --background: #FFFFFF;
    --background2: #003366;
    --text: #051145;
    --text2: #000;
    --btn: #2a786b;
    --btnhover: #1c5f54;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pro;
}

html,
body {
    height: 100%;
    width: 100%;
}


/* start page1 */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
}

.navbar a {
    text-decoration: none;
}

.nav-left a {
    font-size: 2vw;
    font-family: poppins;
    color: var(--text);
    text-transform: capitalize;
    font-weight: 600;
}

.nav-center {
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
    text-transform: capitalize;

}

.nav-center a {
    color: var(--text2);
}

.nav-right {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2.5vw;
    border-radius: 0.2rem;

}

.nav-right a {
    font-family: poppins;
    color: var(--background);
}

.nav-right:hover {
    background-color: var(--btnhover);
}

.hamburger {
    margin-left: 93vw;
    
    display: none;
}

.hamburger i {
    font-size: 2.2vw;
    cursor: pointer;
}


/* navbar for mobile */

.navbar-mobile {
    background-color: var(--background2);
    position: absolute;
    z-index: 2;
    margin-top: -30vh;
    height: 100vh;
    width: 100%;

    display: none;
}

.navbar-mobile i {
    font-size: 3vw;
    color: var(--background);
    margin-left: 75vw;

}

.close-icon {
    margin-top: 5vh;
    margin-left: 6vw;
    cursor: pointer;


}

.navbar-mobile a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 3vw;
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 1vw;

}

/* end page1 */

/* start page2 */

#page2{
    height:81vh;
    width: 100%;
    
    margin-top: 7vh;
    
}

.form-container{
    height: 70vh;
    width: 35%;
    /* background-color: var(--background); */
    background-color: rgb(238, 243, 109);
    box-shadow: 0 0 0.2rem black;
    border-radius: 3px;
    margin-left: 30vw;
}

form p{
    font-size: 5vw;
    text-align: center;
    text-wrap: nowrap;
    margin-bottom: 5vh;
    font-weight: 600;
    color: var(--background2);
}

input, textarea {
    width: 50%;
    padding:0.7vw;
    margin-bottom: 1vh;
    border: 0.1rem solid black;
    border-radius: 3px;
    margin-left: 8vw;
    
}


.sendbtn .submitbtn {
    width: 15vw;
            background-color: rgba(0, 0, 255, 0.9);
            color: white;
            border: none;
            font-size: 1.5vw;
            font-family: poppins;
            border-radius:3px;
            margin-left:9vw;
        cursor: pointer;
        margin-top: 3vh;
        }

        .sendbtn .submitbtn:hover{
            background-color: #051145;
        }

::placeholder{
    color: rgb(18, 18, 62);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,sans-serif,cursive;
    font-family: poppins;
    font-size: 1.3vw;
}

/* end page2 */

/* responsive  */

@media (max-width:440px){

    /* page1 media query - 440px */
    
    .nav-center a{
        display: none;
    }
    
    .nav-right{
        display: none;
    }
    
    .hamburger i{
        font-size: 10vw;
    margin-left: -8vw;
    }
    
    .hamburger{
        margin-top: -6vh;
        display: block;
    }
    
    .nav-left a{
        font-size: 7vw;
        margin-left: -24vw;
    }
    
    .page1-content h1{
        font-size: 8.5vw;
        margin-left: -6vw;
        margin-top: -8vh;
    }
    
    .page1-content h1:nth-child(2){
        font-size: 7vw;
    }
    
    .page1-content p{
        font-size: 4.1vw;
        margin-left: -10vw;
        margin-top: 0;
    }
    
    .page1-btns{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        margin-left: 12vw;
        margin-top: 7vh;
    }
    
    .page1-btns a{
        padding: 4vw 0vw;
        width: 60%;
        font-size: 4vw;
        text-align: center;
    }
    
    .page1-btns a:nth-child(2){
    width: 75%;
    margin-left: -6vw;
    }
    
    
    .navbar-mobile i{
        font-size: 11vw;
        margin-left: 5vw;
    
        
    }

.navbar-mobile a:hover{
    background-color: orange;
    
    
}

    .close-icon{
        margin-top: 27vh;
        margin-left: 80vw;
    }
    
    .navbar-mobile{
        height: 109vh;
        
    }
    
    .navbar-mobile a{
        font-size: 8vw;
    }

    /* end media for page1 */

/* start page2 */

#page2{
    height:50vh;
    width: 100%;
}

.form-container{
    height: 50vh;
    width: 70%;
    /* background-color: var(--background); */
    background-color: rgb(238, 243, 109);
    box-shadow: 0 0 0.2rem black;
    border-radius: 3px;
    margin-left: 15vw;
}

form p{
    font-size: 8vw;
    text-align: center;
    text-wrap: nowrap;
    margin-bottom: 5vh;
    font-weight: 600;
    color: var(--background2);
    padding-top: 3vh;
}

input, textarea {
    width: 50%;
    height: 5vh;
    margin-bottom: 1vh;
    border: 0.1rem solid black;
    border-radius: 3px;
    margin-left: 15vw;
    font-size: 5vw;
}


.sendbtn .submitbtn {
    width: 30vw;
            background-color: rgba(0, 0, 255, 0.9);
            color: white;
            border: none;
            font-size: 3.5vw;
            font-family: poppins;
            border-radius:3px;
            margin-left:17vw;
        cursor: pointer;
        margin-top: 3vh;
        }

        .sendbtn .submitbtn:hover{
            background-color: #051145;
        }

::placeholder{
    color: rgb(18, 18, 62);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,sans-serif,cursive;
    font-family: poppins;
    font-size: 4vw;
}

    /* end page2 */
}    
    
