@font-face {
    font-family:poppins ;
    src: url();
}

@font-face {
    font-family: pro;
    src: url(fonts/pro.ttf);
}

:root {
    --background: #FFFFFF;
    --background2: #003366;
    --text: #051145;
    --text2: #000;
    --btn: #2a786b;
    --btnhover: #1c5f54;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pro;
}

html,
body {
    height: 100%;
    width: 100%;
}


/* start page1 */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
}

.navbar a {
    text-decoration: none;
}

.nav-left a {
    font-size: 2vw;
    font-family: poppins;
    color: var(--text);
    text-transform: capitalize;
    font-weight: 600;
}

.nav-center {
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
    text-transform: capitalize;

}

.nav-center a {
    color: var(--text2);
}

.nav-right {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2.5vw;
    border-radius: 0.2rem;

}

.nav-right a {
    font-family: poppins;
    color: var(--background);
}

.nav-right:hover {
    background-color: var(--btnhover);
}

.hamburger {
    margin-left: 93vw;
    margin-top: -7vh;
    display: none;
}

.hamburger i {
    font-size: 2.2vw;
    cursor: pointer;
}


/* navbar for mobile */

.navbar-mobile {
    background-color: var(--background2);
    position: absolute;
    z-index: 2;
    margin-top: -30vh;
    height: 100vh;
    width: 100%;

    display: none;
}

.navbar-mobile i {
    font-size: 3vw;
    color: var(--background);
    margin-left: 75vw;

}

.close-icon {
    margin-top: 5vh;
    margin-left: 6vw;
    cursor: pointer;


}

.navbar-mobile a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 3vw;
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 1vw;

}


/* select Button start */

.select-city a{
    text-decoration: none;
    background-color: #FE5454;
    color: white;
    font-size: 1.3vw;
    margin-left: 3vw;
    padding: 0.5vw 1.2vw;
    border-radius: 2px;
    
}

.select-city{
    margin-top: 3vh;
}

.select-city a:hover{
    background-color: green;
}

.select-box{
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-left: 2vw;
    margin-top: 1.7vh;
    position: absolute;
    z-index: 1;
    padding: 2vh 2.5vw;
    gap: 2vh;
    box-shadow: 0 0 0.2rem black;
    border-radius: 3px;
    opacity: 0;
}

.city-close i{
    margin-left: 11.5vw;
    position: absolute;
    z-index: 2;
    margin-top: 3vh;
    opacity: 0;
    
}



.select-box a{
    text-decoration: none;
    color: #000;
    font-size: 1.7vw;
}


/* end select Button  */





/* end page1 */


/* page 3 start from here */

#page3 {
    height: 225vh;
    width: 100%;
    background-color: var(--background);
    
}

#page3 h3 {
    font-size: 2.5vw;
    padding-top: 10vh;
    margin-left: 42vw;
    text-transform: capitalize;
    color: #B6BDC5;
}

#page3 p {
    font-size: 5vw;
    margin-left: 22vw;
    text-transform: capitalize;
    font-family: poppins;
    color: #232323;
    font-weight: 800;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding-top: 6vh;
    padding-bottom: 15vh;
    
}

.box {
    height: 80vh;
    width: 28vw;
    background-color:#E2E8EF;
    border-radius: 8px;
    transition: all linear 0.3s;
    cursor: pointer;
}

.box:hover{
    scale: 1.1;
}



/* all the box images available here */


#refrigerator-box img{
    height: 35vh;
    width: 100%;
    margin-top: 3vh;
}

#ac-box img{
    height: 30vh;
    width: 50%;
    margin-top: 3vh;
    margin-left: 5vw;
}

#tv-box img{
height: 30vh;
margin-top: 3vh;
margin-left: 8vw;
}

#washingMachine-box img{
    height: 35vh;
    width: 100%;
    margin-top: 3vh;
    
}

#chimni-box img{
    height: 30vh;
    width: 50%;
    margin-top: 3vh;
    margin-left: 5vw;
}

#mircowave-box img{
    height: 30vh;
margin-top: 3vh;
margin-left: 8vw;
}

#refrigerator-box p{
    font-size: 1.6vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#refrigerator-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 3vh;
}


#ac-box p{
    font-size: 1.7vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#ac-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}

#tv-box p{
    font-size: 1.6vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#tv-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}

#washingMachine-box p{
    font-size: 1.3vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#washingMachine-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}


#chimni-box p{
    font-size: 1.7vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#chimni-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 11vh;
}


#mircowave-box p{
    font-size: 1.6vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#mircowave-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 11vh;
}

.box a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--btn);
    color: var(--background);
    padding: 1vw 2.5vw;
    font-family: poppins;
    font-weight: 600;
    margin-left: 8vw;
    
}

.box a:hover{
    background-color: var(--btnhover);
    transition: all linear 0.5s;
}


/* end page 3 */

/* page 4 */
.page4-part2 {
    height: 55vh;
    width: 100%;
    background-color:#E2E8EF;
    margin-top: 20vh;

}

.page4-part2 h6 {
    font-size: 2.5vw;
    color: #000;
    text-transform: capitalize;
    padding-top: 10vh;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
}

.page4-part2 h5 {
    font-size: 4vw;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
    color: var(--text);
    margin-bottom: 7vh;
}

.page4-part2 a {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2.5vw;
    border-radius: 0.2rem;
    text-decoration: none;
    color: var(--background);
    font-family: poppins;
    margin-left: 40vw;
}

.page4-part2 a:hover{
    background-color: var(--btnhover);
    transition: all linear 0.3s;
}

/* end page 4 */

#page5{
    height: 40vh;
    width: 100%;
    background-color: var(--background2);
}

.footer{
    display: flex;
justify-content: space-between;    
align-items: center;
margin-top: -4vh;
}

.footer p{
    font-size: 4vw;
    color: var(--background);
    font-family: poppins;
    text-transform: capitalize;
    margin-left: 3vw;
}

.footer a{
    text-decoration: none;
    margin-right: 5vw;
    text-transform: capitalize;
    color:#B5E203;
    font-family: poppins;
}

.copyright p{
margin-top: 15vh;
text-align: center;
color: var(--background);
}

/* responsive  */

@media (max-width:440px){

    /* page1 media query - 440px */
    
    #page1{
        height:10vh;
        width: 100%;
    }
    
    .nav-center a{
        display: none;
    }
    
    .nav-right{
        display: none;
    }
    
    .hamburger i{
        font-size: 10vw;
    margin-left: -8vw;
    }
    
    .hamburger{
        margin-top: -6vh;
        display: block;
    }
    
    .nav-left a{
        font-size: 7vw;
        margin-left: -24vw;
    }
    
    .page1-content h1{
        font-size: 8.5vw;
        margin-left: -6vw;
        margin-top: -8vh;
    }
    
    .page1-content h1:nth-child(2){
        font-size: 7vw;
    }
    
    .page1-content p{
        font-size: 4.1vw;
        margin-left: -10vw;
        margin-top: 0;
    }
    
    .page1-btns{
        display: flex;
        flex-direction: column;
        gap: 4vh;
        margin-left: 12vw;
        margin-top: 7vh;
    }
    
    .page1-btns a{
        padding: 4vw 0vw;
        width: 60%;
        font-size: 4vw;
        text-align: center;
    }
    
    .page1-btns a:nth-child(2){
    width: 75%;
    margin-left: -6vw;
    }
    
    
    .navbar-mobile i{
        font-size: 11vw;
        margin-left: 5vw;
    
        
    }

.navbar-mobile a:hover{
    background-color: orange;
    
    
}

    .close-icon{
        margin-top: 27vh;
        margin-left: 80vw;
    }
    
    .navbar-mobile{
        height: 109vh;
        
    }
    
    .navbar-mobile a{
        font-size: 8vw;
    }

    /* end media for page1 */



/* page3 */
#page3{
    height: 405vh;

}

#page3 h3{
    font-size: 8vw;
    margin-left: 35vw;
}

#page3 p{
    font-size: 7.5vw;
    margin-left: 6vw;
}

.services-box{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-left: 3vw;
}

.box{
    height: 62vh;
    width: 90vw;
}

.box:hover{
    scale: 1;
}

#refrigerator-box img{
    height: 25vh;
}

#ac-box img{
    height: 20vh;
    margin-left: 22vw;
}

#tv-box img{
    height: 20vh;
    margin-left: 25vw;
}

#washingMachine-box img{
    height: 25vh;
}

#chimni-box img{
    height: 20vh;
    margin-left: 22vw;
}

#mircowave-box img{
    height: 20vh;
    margin-left: 25vw;
}

#refrigerator-box p{
    margin-left: -2vw;
    margin-top: 4vh;
}

#refrigerator-box pre{
 font-size: 4.5vw;   
 margin-top: 2vh;
 
}

#ac-box p{
 font-size: 8vw;   
 margin-right: 7vw;
}

#ac-box pre{
    font-size: 4.5vw;
}

#tv-box p{
    margin-left: -1vw;
    font-size: 8vw;
}

#tv-box pre{
    font-size: 4.5vw;
}

#washingMachine-box p{
    font-size: 6vw;
    margin-right: 6vw;
}

#washingMachine-box pre{
    font-size: 4.5vw;
}

#chimni-box p{
    font-size: 8vw;
    margin-right: 5vw;
}    

#chimni-box pre{
    font-size: 4.5vw;
}

#mircowave-box p{
    font-size: 8vw;
    margin-right: 4vw;
}

#mircowave-box pre{
    font-size: 4.5vw;
}

.box a{
    margin-left: 23vw;
    padding: 2vw 7vw;
    border-radius: 5px;
    
}

.read-more{
    margin-top: -2vh;
}

/* end page3 */

.page4-part2 {
    height: 35vh;
    width: 100%;
    background-color:#E2E8EF;
    margin-top: 20vh;

}

.page4-part2 h6 {
    font-size: 6vw;
padding-top: 7vh;
}

.page4-part2 h5 {
    font-size: 6.5vw;
    margin-bottom: 5vh;
}

.page4-part2 a {
    font-size: 5vw;
    padding: 3vw 8vw;
    margin-left: 26vw;
    
}

/* end page 4 */

#page5{
    height: 30vh;
    width: 100%;
    background-color: var(--background2);
}

.footer{
    display: flex;
flex-direction: column;
}

.footer p{
    font-size: 7vw;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.footer a{
    text-decoration: none;
    margin-right: 5vw;
    text-transform: capitalize;
    color:#B5E203;
    font-family: poppins;
}

.copyright p{
margin-top: 8vh;
text-align: center;
color: var(--background);
}
    
}    
    
