@font-face {
    font-family:poppins ;
    src: url();
}

@font-face {
    font-family: pro;
    src: url(fonts/pro.ttf);
}

:root {
    --background: #FFFFFF;
    --background2: #003366;
    --text: #051145;
    --text2: #000;
    --btn: #2a786b;
    --btnhover: #1c5f54;
    --citybtn: rgba(34, 70, 249, 0.914);
    --citybtnHover: rgba(4, 45, 250, 0.914);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pro;
}

html,
body {
    height: 100%;
    width: 100%;
}



/* start page1 */


#page1 {
    height: 100vh;
    width: 100%;
    
    position: absolute;
    z-index: 3;
    
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
margin-top: -10vh;
}

.navbar a {
    text-decoration: none;
}


.nav-left img{
    height: 35vh;
    width: 13vw;
    position: relative;
    margin-top: 3vh;
    
}

.nav-left a {
    font-size: 2vw;
    font-family: poppins;
    color: var(--text);
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 5vw;
}

.nav-center {
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
    text-transform: capitalize;
margin-left: 18vw;
}

.nav-center a {
    color: var(--text2);

}



.nav-right {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2.5vw;
    border-radius: 2vw;
margin-left: 15vw;
}

.nav-right a {
    font-family: poppins;
    color: var(--background);
}

.nav-right:hover {
    background-color: var(--btnhover);
}


.nav-right2 {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--citybtn);
    padding: 1vw 2.5vw;
    border-radius: 2vw;
margin-left: 0vw;
}

.nav-right2 a {
    font-family: poppins;   
    color: var(--background);
}

.nav-right2:hover {
    background-color:var(--citybtnHover);
}


.hamburger {
    margin-left: 93vw;
    margin-top: -7vh;
    display: none;
}

.hamburger i {
    font-size: 2.2vw;
    cursor: pointer;
}

.page1-content {
    position: relative;
    margin-top: 0vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    

}

.page1-content a {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2.5vw;
    border-radius: 0.2rem;
    font-family: poppins;
    color: var(--background);
    text-decoration: none;
    margin-left: 27vw;
    
}

.page1-content a:hover {
    background-color: var(--btnhover);
}

.page1-content a:nth-child(2) {
    background-color: var(--background2);
    border: 1px solid #676060;
    color: var(--background);
    font-family: poppins;
    font-weight: bolder;
margin-left: 3vw;
}

.page1-content a:nth-child(2):hover {
    background-color: var(--text);
    transition: all linear 0.4s;
    color: var(--background);
}

.page1-btns {
    margin-top: 49vh;
    margin-left: 10vw;
}

/* navbar for mobile */

.navbar-mobile {
    background-color: var(--background2);
    position: absolute;
    z-index: 9;
    margin-top: -85.5vh;
    height: 100vh;
    width: 100%;

    display: none;
}

.navbar-mobile i {
    font-size: 3vw;
    color: var(--background);
    margin-left: 75vw;

}

.close-icon {
    margin-top: 5vh;
    margin-left: 6vw;
    cursor: pointer;


}

.navbar-mobile a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 3vw;
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 1vw;

}

/* end page1 */


/* page 3 start from here */

#page3 {
    height: 225vh;
    width: 100%;
    background-color: var(--background);
    
}

#page3 h3 {
    font-size: 2.5vw;
    padding-top: 18vh;
    margin-left: 42vw;
    text-transform: capitalize;
    color: #B6BDC5;
}

#page3 p {
    font-size: 5vw;
    margin-left: 22vw;
    text-transform: capitalize;
    font-family: poppins;
    color: #232323;
    font-weight: 800;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding-top: 6vh;
    padding-bottom: 15vh;
    
}

.box {
    height: 80vh;
    width: 28vw;
    background-color:#E2E8EF;
    border-radius: 8px;
    transition: all linear 0.3s;
    cursor: pointer;
}

.box:hover{
    scale: 1.1;
}



/* all the box images available here */


#refrigerator-box img{
    height: 35vh;
    width: 75%;
    margin-top: 4vh;
    margin-left: 4vw;
    border-radius: 5px;
}

#ac-box img{
    height: 35.5vh;
    width: 75%;
    margin-top: 4vh;
    margin-left: 4vw;
    border-radius: 5px;
}


#tv-box img{
    height: 35vh;
    width: 75%;
        margin-left: 4vw;
    margin-top: 4vh;
    border-radius: 5px;
    }

#washingMachine-box img{
    height: 35vh;
    width: 75%;
    margin-top: 3vh;
    margin-left: 4vw;
    margin-top: 3vh;
    border-radius: 5px;
    
}

#chimni-box img{
    height: 35vh;
    width: 75%;
    margin-top: 5vh;
    margin-left: 4vw;
    border-radius: 5px;
}

#mircowave-box img{
    height: 35vh;
    width: 75%;
margin-top: 4vh;
    margin-left: 4vw;
    border-radius: 5px;
}

#refrigerator-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
    border-radius: 5px;
}
#refrigerator-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 6vh;
    border-radius: 5px;
}


#ac-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 2vh;
    color: var(--text);
}
#ac-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}

#tv-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 2vh;
    color: var(--text);
}
#tv-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}

#washingMachine-box p{
    font-size: 1.8vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#washingMachine-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}


#chimni-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 2vh;
    color: var(--text);
}
#chimni-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 11vh;
}


#mircowave-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 2vh;
    color: var(--text);
}
#mircowave-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 11vh;
}


.read-more{
    margin-top: -2vh;
}

.read-more a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--btn);
    color: var(--background);
    padding: 1vw 2.5vw;
    font-family: poppins;
    font-weight: 600;
    margin-left: 8vw;
 border-radius: 5px;   
}

.read-more a:hover{
    background-color: var(--btnhover);
    transition: all linear 0.5s;
}


/* end page 3 */



/* page 4 */

.page4-part2 {
    height: 40vh;
    width: 100%;
    background-color:#E2E8EF;


}

.page4-part2 h6 {
    font-size: 2vw;
    color: #000;
    text-transform: capitalize;
    padding-top: 5vh;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
}

.page4-part2 h5 {
    font-size: 2.5vw;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
    color: var(--text);
    margin-bottom: 5vh;
}

.page4-part2 a {
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--btn);
    padding: 1vw 2vw;
    border-radius: 2vw;
    text-decoration: none;
    color: var(--background);
    font-family: poppins;
    margin-left: 45vw;
}

.page4-part2 a:hover{
    background-color: var(--btnhover);
    transition: all linear 0.3s;
}
/* end page 4 */

#page5{
    height: 95vh;
    width: 100%;
    background-color: var(--background2);
}

.footer img{
    height: 30vh;
    width: 48vh;
    margin-top: 0vh;
}


.footer h6{
    color: var(--background);
    font-weight: normal;
    font-size: 1.2vw;
    margin-left: 3vw;
    
}

.footer-icons{
 position: relative;
 top: 4vh;
 margin-left: 10vw;

}


.footer i{
    color: var(--background);
    font-size: 2vw;
 margin-left: -4vw;   
}

.footer-part2{
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    margin-top: -32vh;
    gap: 2vw;
}

.footer-part2 a{
    font-size: 1.8vw;
    text-transform: capitalize;
    text-wrap: balance;
}

.footer a{
    text-decoration: none;
    margin-right: 5vw;
    text-transform: capitalize;
    color:#B5E203;
    font-family: poppins;
}

.service-part{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 13vw;
    margin-top: 3vh;
    gap: 2vh;
}

.service-part a{
    color: #fff;
    font-size: 1.2vw;

}
.service-part a:hover{
    color:#676060;
}


.city-part{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -53vh;
    gap: 1vh;
}

.city-part a{
 color: #fff;   
 font-size: 1.2vw;
}

.city-part a:hover{
    color: #676060;
}


.copyright p{
margin-top:20vh;
text-align: center;
color: var(--background);
}


/* responsive  */

@media (max-width:440px){

    
    /* page1 media query - 440px */
    
    
    #page1{
        width: 100%;
        
     }
 
  .nav-left img{
    width: 50vw;
    margin-left: 12vw;
  }
 
     .nav-center a{
         display: none;
     }
 
     .nav-right{
         display: none;
     }
 
     
 .nav-right2 {
     font-size: 2.2vw;
     text-transform: uppercase;
     font-weight: 600;
     background-color: var(--citybtn);
     padding: 1.3vh 2.7vw;
 margin-right: 18vw;
 display: none;
 }
 
 .nav-right2 a {
     font-family: poppins;
     color: var(--background);
     text-wrap: nowrap;
 }
 
 .nav-right2:hover {
     background-color:var(--citybtnHover);
 }
 
     
     .hamburger i{
         font-size: 10vw;
     margin-left: -8vw;
     }
     
     .hamburger{
         margin-top: -24vh;
         display: block;
 
     }
     
     .nav-left a{
         font-size: 7vw;
         margin-left: -24vw;
     }
 
  
     .navbar-mobile i{
         font-size: 11vw;
         margin-left: 5vw;
     }
 
 .navbar-mobile a:hover{
     background-color: orange;    
 }
 
     .close-icon{
         bottom: 7vh;
         margin-left: 80vw;
         position: relative;
         z-index: 3;
     }
     
     .navbar-mobile{
         height: 100vh;
         padding-top: 8vh;
         bottom: 0vh;
         position: fixed;
     }
     
     .navbar-mobile a{
         font-size: 8vw;
         position: relative;
         bottom: 10vh;
     }
     
     /* end media for page1 */
     
    

/* page3 */
#page3{
    height: 430vh;
width: 100%;
margin-bottom: 20vh;
}

#page3 h3{
    font-size: 8vw;
    margin-left: 35vw;
}

#page3 p{
    font-size: 7.5vw;
    margin-left: 6vw;
}

.services-box{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-left: 3vw;
}


.box{
    height: 58vh;
    width: 90vw;
}

.box:hover{
    scale: 1;
}

#refrigerator-box img{
    height: 25vh;
    width: 80vw;
    margin-left: 5vw;
}

#ac-box img{
    height: 25vh;
    width: 80vw;
    margin-left: 5vw;
}

#tv-box img{
    height: 25vh;
    width: 80vw;
    margin-left: 5vw;
}

#washingMachine-box img{
    height: 25vh;
    width: 80vw;
    margin-left: 5vw;
}

#chimni-box img{
    height: 25vh;
    width: 80vw;
    margin-left: 5vw;
}

#mircowave-box img{
    height: 25vh;
    width: 80vw;
    margin-left: 5vw;
}

#refrigerator-box p{
    margin-left: -2vw;
    margin-top: 3vh;
}

#refrigerator-box pre{
 font-size: 5vw;   
 margin-top: 1vh;
 
}

#ac-box p{
 font-size: 8vw; 
 margin-top: 2vh;  
 margin-right: 7vw;
}

#ac-box pre{
    font-size: 5vw;
    margin-top: 2vh;
}

#tv-box p{
    margin-left: -1vw;
    font-size: 8vw;
    margin-top: 2vh;  
 margin-right: 7vw;
}

#tv-box pre{
    font-size: 5vw;
    margin-top: 1vh;
}

#washingMachine-box p{
    font-size: 6vw;
    margin-right: 6vw;
}

#washingMachine-box pre{
    font-size: 5vw;
    margin-top: 2vh;
    margin-bottom: 7vh;
}

#chimni-box p{
    font-size: 8vw;
    margin-right: 5vw;
}    

#chimni-box pre{
    font-size: 5vw;
    margin-top: 1vh;
}

#mircowave-box p{
    font-size: 8vw;
    margin-right: 4vw;
    
}

#mircowave-box pre{
    font-size: 4.5vw;
    margin-bottom: 7vh;
}

.read-more a{
    margin-left: 23vw;
    padding: 2vw 7vw;
    border-radius: 5px;
    
}

.read-more{
    margin-top: -5vh;
}

/* end page3 */

.page4-part2 {
    height: 25vh;
    width: 100%;
    background-color:#E2E8EF;
    margin-top: -50vh;


}

.page4-part2 h6 {
    font-size: 6vw;
padding-top: 3vh;
}

.page4-part2 h5 {
    font-size: 6.5vw;
    margin-bottom: 5vh;
}

.page4-part2 a {
    font-size: 4vw;
    padding: 2.5vw 8vw;
    margin-left: 30vw;
    
}

/* end page 4 */


#page5{
    height: 88vh;
    width: 100%;
    background-color: var(--background2);
    margin-top: 0vh;
    overflow-y: hidden;
}

.footer img{
    margin-left: 18vw;
    height: 20vh;
    width: 30vh;
    margin-top: -2vh;
}



.footer h6{
    color: var(--background);
    font-weight: normal;
    font-size: 3.3vw;
    text-wrap: nowrap;
    margin-left: 15vw;
    margin-top: -4vh;

}

.footer-icons{
 position: relative;
 top: 3vh;
 margin-left: 25vw;

}


.footer i{
    color: var(--background);
    font-size: 6vw;
 margin-left: -1vw;   
}



.footer-part2{
    display: flex;
    justify-content: flex-start;    
    margin-top: 6vh;
    margin-left:-1vw;
    gap: 0.5vw;
}

.footer-part2 a{
    font-size: 5vw;
    text-transform: capitalize;
    font-size: 4vw;
    margin-left: 22vw;
}


.footer-part2 a:nth-child(1){
display: none;
}


.footer-part2 a:nth-child(2){
    display: none;
    }
    

.footer-part2 a:nth-child(3){
    position: absolute;
    margin-top: 0vh;
    margin-left: 20vw;
    }
    


.footer-part2 a:nth-child(4){
    margin-left: 77vw;
}


.footer a{
    text-decoration: none;
    margin-right: 5vw;
    text-transform: capitalize;
    color:#B5E203;
    font-family: poppins;
}

.service-part{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    margin-top: 3vh;
    gap: 1vh;
    margin-right: 40vw;
}

.service-part a{
    color: #fff;
    font-size: 3.5vw;

}
.service-part a:hover{
    color:#676060;
}


.city-part{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -33vh;
    margin-right: 3vw;
    gap: 1vh;
}

.city-part a{
 color: #fff;   
 font-size: 3.5vw;
}

.city-part a:hover{
    color: #676060;
}


.copyright p{
margin-top: 11vh;
text-align: center;
color: var(--background);
font-size: 3.5vw;
}

/* page 5 end */

}    
 
/* responsive for dektop  */


@media (min-width:1300px){

    .nav-left img{
        width: 19vw;
        margin-left: -3vw;
    }

    .navbar{
        justify-content: space-between;
        padding: 0vw 1vw;
    }


    
#page3 {
    height:180vh;
    width: 100%;
    background-color: var(--background);
}

    
.services-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding-top: 4vh;
}


    
.box {
    height: 65vh;
    width: 28vw;
    background-color:#E2E8EF;
    border-radius: 0.5vw;
    transition: all linear 0.3s;
    cursor: pointer;
}

.box:hover{
    scale: 1.1;
}

#refrigerator-box img{
    height: 30vh;
    width: 85%;
    margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 8px;
}

#ac-box img{
    height: 30vh;
    width: 85%;
    margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 8px;
}

#tv-box img{
    height: 30vh;
    width: 85%;
    margin-left: 2vw;
margin-top: 4vh;
border-radius: 8px;
}

#washingMachine-box img{
    height: 30vh;
    width: 85%;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-top: 3vh;
    border-radius: 8px;
}

#chimni-box img{
    height: 30vh;
    width: 85%;
    margin-top: 5vh;
    margin-left: 2vw;
    border-radius: 8px;
}

#mircowave-box img{
    height: 30vh;
    width: 85%;
margin-top: 4vh;
    margin-left: 2vw;
    border-radius: 8px;
}

#refrigerator-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
    border-radius: 5px;
}
#refrigerator-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 6vh;
    border-radius: 5px;
}


#ac-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 3.5vh;
    color: var(--text);
}
#ac-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}

#tv-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#tv-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}

#washingMachine-box p{
    font-size: 1.8vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 4vh;
    color: var(--text);
}
#washingMachine-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 7vh;
}


#chimni-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 2vh;
    color: var(--text);
}
#chimni-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 11vh;
}


#mircowave-box p{
    font-size: 2vw;
    text-align: center;
    margin-left: -1vw;
    margin-top: 2vh;
    color: var(--text);
}
#mircowave-box pre{
    font-size: 1.3vw;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 9vh;
}

.read-more{
    margin-top: -2vh;
}

.read-more a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--btn);
    color: var(--background);
    padding: 1vw 2.5vw;
    font-family: poppins;
    font-weight: 600;
    margin-left: 8vw;
 border-radius: 8px;   
 font-size: 1.1vw;
}

.read-more a:hover{
    background-color: var(--btnhover);
    transition: all linear 0.5s;
}

.page4-part2{
    height: 28vh;
}


#page5{
    height: 80vh;
    width: 100%;
    
}

.footer img{
    height: 30vh;
    width: 50vh;
    margin-top: 0vh;
}


.footer h6{
    color: var(--background);
    font-weight: normal;
    font-size: 1.2vw;
    margin-left: 5vw;
    margin-top: -3vh;
}

.footer-icons{
 position: relative;
 top: 12vh;
 margin-left: 10vw;

}


.footer i{
    color: var(--background);
    font-size: 2vw;
 margin-left: -3vw;   
}

.footer-part2{
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    margin-top: -29vh;
    gap: 2vw;
}

.footer-part2 a{
    font-size: 1.8vw;
    text-transform: capitalize;
    text-wrap: balance;
}

.footer a{
    text-decoration: none;
    margin-right: 5vw;
    text-transform: capitalize;
    color:#B5E203;
    font-family: poppins;
}

.service-part{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 13vw;
    margin-top: 4vh;
    gap: 2vh;
}

.service-part a{
    color: #fff;
    font-size: 1.2vw;

}
.service-part a:hover{
    color:#676060;
}


.city-part{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -40vh;
    gap: 1vh;
}

.city-part a{
 color: #fff;   
 font-size: 1.2vw;
}

.city-part a:hover{
    color: #676060;
}


.copyright p{
margin-top:28vh;
text-align: center;
color: var(--background);
font-size: 1.3vw;
}





}
/* End responsive for dektop  */